BozorCheck_Product_Normalizer_v1.yml
app:
  description: Normalize raw product names, aliases, languages, variants, and units
    into BozorCheck standard productCode, variant, and unitCode. This workflow does
    not calculate prices or approve reports.
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: BozorCheck_Product_Normalizer_v1
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/cohere:0.0.16@b116712763a1ffb456565684a4406a3dd74f365d20ac19ecbaa0f62e85f1b7d4
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.4.3@84d4aae2c55724f6cdaecfadceed061d7e6b6693ae8945ea2dcd155f280743ef
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: code
      id: 1781516769811-source-1781516879358-target
      selected: false
      source: '1781516769811'
      sourceHandle: source
      target: '1781516879358'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: knowledge-retrieval
      id: 1781516879358-source-1781516946525-target
      source: '1781516879358'
      sourceHandle: source
      target: '1781516946525'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1781516946525-source-1781518266574-target
      source: '1781516946525'
      sourceHandle: source
      target: '1781518266574'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1781518266574-source-1781518435656-target
      source: '1781518266574'
      sourceHandle: source
      target: '1781518435656'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: 1781518435656-source-1781518548611-target
      source: '1781518435656'
      sourceHandle: source
      target: '1781518548611'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: Start
        type: start
        variables:
        - default: pink greenhouse pomidor
          hint: ''
          label: rawProductName
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: rawProductName
        - default: en
          hint: ''
          label: locale
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: locale
        - default: TASHKENT_CHORSU
          hint: ''
          label: marketCode
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: marketCode
        - default: 1 kg
          hint: ''
          label: unitText
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: unitText
        - default: '[]'
          hint: ''
          label: knownAliasesJson
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: knownAliasesJson
        - default: search
          hint: ''
          label: userContext
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: userContext
      height: 239
      id: '1781516769811'
      position:
        x: 68.57142857142858
        y: 112.5
      positionAbsolute:
        x: 68.57142857142858
        y: 112.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "function main({ rawProductName, unitText, locale, marketCode, userContext\
          \ }) {\n  const original = rawProductName || \"\";\n  const unit = unitText\
          \ || \"\";\n  const lang = locale || \"\";\n  const market = marketCode\
          \ || \"\";\n  const context = userContext || \"\";\n\n  const normalized\
          \ = original\n    .toLowerCase()\n    .replace(/[’‘`]/g, \"'\")\n    .replace(/[“”]/g,\
          \ '\"')\n    .replace(/[^\\p{L}\\p{N}\\s'\"]/gu, \" \")\n    .replace(/\\\
          s+/g, \" \")\n    .trim();\n\n  const tokens = normalized\n    .split(\"\
          \ \")\n    .map((token) => token.trim())\n    .filter(Boolean);\n\n  const\
          \ normalizedUnit = unit\n    .toLowerCase()\n    .replace(/[’‘`]/g, \"'\"\
          )\n    .trim();\n\n  const searchQuery = [\n    `raw product name: ${original}`,\n\
          \    `clean product name: ${normalized}`,\n    `unit text: ${normalizedUnit}`,\n\
          \    `locale: ${lang}`,\n    `market code: ${market}`,\n    `user context:\
          \ ${context}`,\n    `tokens: ${tokens.join(\", \")}`\n  ]\n    .filter((line)\
          \ => !line.endsWith(\": \"))\n    .join(\"\\n\");\n\n  return {\n    cleanName:\
          \ normalized,\n    tokensJson: JSON.stringify(tokens),\n    cleanUnitText:\
          \ normalizedUnit,\n    searchQuery\n  };\n}"
        code_language: javascript
        outputs:
          cleanName:
            children: null
            type: string
          cleanUnitText:
            children: null
            type: string
          searchQuery:
            children: null
            type: string
          tokensJson:
            children: null
            type: string
        selected: false
        title: 'Code: Pre-clean'
        type: code
        variables:
        - value_selector:
          - '1781516769811'
          - rawProductName
          value_type: string
          variable: rawProductName
        - value_selector:
          - '1781516769811'
          - unitText
          value_type: string
          variable: unitText
        - value_selector:
          - '1781516769811'
          - locale
          value_type: string
          variable: locale
        - value_selector:
          - '1781516769811'
          - marketCode
          value_type: string
          variable: marketCode
        - value_selector:
          - '1781516769811'
          - userContext
          value_type: string
          variable: userContext
      height: 52
      id: '1781516879358'
      position:
        x: 324.8571428571428
        y: 133.5
      positionAbsolute:
        x: 324.8571428571428
        y: 133.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids: []
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: rerank-multilingual-v3.0
            provider: langgenius/cohere/cohere
          score_threshold: null
          top_k: 5
        query_attachment_selector: []
        query_variable_selector:
        - '1781516879358'
        - searchQuery
        retrieval_mode: multiple
        selected: false
        title: 'Knowledge Retrieval: Product Alias Guide'
        type: knowledge-retrieval
      height: 52
      id: '1781516946525'
      position:
        x: 579.7142857142857
        y: 133.5
      positionAbsolute:
        x: 579.7142857142857
        y: 133.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1781516946525'
          - result
        model:
          completion_params:
            temperature: 0.1
          mode: chat
          name: gpt-4o-mini
          provider: langgenius/openai/openai
        prompt_template:
        - id: 19403e24-8dd8-4719-a612-0024b5d28197
          role: system
          text: "You are BozorCheck AI Product Normalizer.\n\nYour job is to map raw\
            \ bazaar product names, multilingual aliases, variants, and unit hints\
            \ into BozorCheck standard product codes.\n\nYou are not a translation\
            \ chatbot.\nYou do not calculate prices.\nYou do not approve reports.\n\
            You do not invent product codes.\n\nSpring/backend is the source of truth\
            \ for prices and verdicts.\nUse the retrieved product alias knowledge\
            \ only for product normalization.\n\nReturn valid JSON only.\nDo not wrap\
            \ JSON in markdown.\nDo not include explanations outside JSON.\n\nAllowed\
            \ standardProductCode values:\nTOMATO, CUCUMBER, CARROT, POTATO, ONION,\
            \ APPLE, RICE, EGGS, VEGETABLE_OIL, BEEF, UNKNOWN\n\nAllowed normalizedUnitCode\
            \ values:\nKG, PCS_10, LITER, BUNDLE, PCS, UNKNOWN\n\nImportant matching\
            \ rules:\n- \"pomidor\" or \"помидор\" maps to TOMATO.\n- \"pink greenhouse\
            \ pomidor\" maps to TOMATO with variant PINK_GREENHOUSE.\n- \"pink greenhouse\
            \ tomato\" maps to TOMATO with variant PINK_GREENHOUSE.\n- \"greenhouse\
            \ pomidor\" maps to TOMATO with variant GREENHOUSE.\n- \"tuxum\" maps\
            \ to EGGS.\n- \"tuxum 10 pcs\" maps to EGGS with unit PCS_10.\n- \"guruch\"\
            \ maps to RICE.\n- \"o‘simlik yog‘i\", \"osimlik yogi\", \"sunflower oil\"\
            , \"cottonseed oil\", or \"растительное масло\" maps to VEGETABLE_OIL.\n\
            - \"mol go‘shti\" or \"говядина\" maps to BEEF.\n- Generic words such\
            \ as \"unknown\", \"local\", \"vegetable\", \"product\", \"item\", \"\
            market\", \"fresh\" are not enough for a confident match.\n- \"unknown\
            \ local vegetable\" must return UNKNOWN and needsHumanReview=true.\n-\
            \ Do not match \"vegetable\" alone to VEGETABLE_OIL unless oil/yog/масло/sunflower/cottonseed\
            \ is present.\n\nConfidence rules:\n- Exact alias or clear product name\
            \ match: 0.90 to 0.98\n- Clear variant match: 0.85 to 0.95\n- Partial\
            \ but meaningful match: 0.60 to 0.75\n- Generic or uncertain match: 0.20\
            \ to 0.40 and needsHumanReview=true\n- UNKNOWN must have needsHumanReview=true\n\
            \nOutput JSON schema:\n{\n  \"standardProductCode\": \"TOMATO\",\n  \"\
            standardProductName\": \"Tomato\",\n  \"variant\": \"PINK_GREENHOUSE\"\
            ,\n  \"normalizedUnitCode\": \"KG\",\n  \"matchConfidence\": 0.91,\n \
            \ \"needsHumanReview\": false,\n  \"reason\": \"Matched pomidor and greenhouse\
            \ tomato aliases to TOMATO variant.\"\n}"
        - id: 584952fb-3b27-45d9-8c5d-1fc48222f833
          role: user
          text: 'Raw product name:

            {{#1781516769811.rawProductName#}}


            Locale:

            {{#1781516769811.locale#}}


            Market code:

            {{#1781516769811.marketCode#}}


            Unit text:

            {{#1781516769811.unitText#}}


            Cleaned name:

            {{#1781516879358.cleanName#}}


            Cleaned unit:


            {{#1781516879358.cleanUnitText#}}



            Tokens:

            {{#1781516879358.tokensJson#}}


            Known aliases from backend:

            {{#1781516769811.knownAliasesJson#}}


            Retrieved knowledge:

            {{#context#}}


            Return only valid JSON following the schema.'
        selected: false
        title: 'LLM: Product Match'
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1781518266574'
      position:
        x: 837.4285714285717
        y: 133.5
      positionAbsolute:
        x: 837.4285714285717
        y: 133.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "function safeParseJson(text) {\n  if (!text) return null;\n\n  let\
          \ cleaned = String(text).trim();\n\n  cleaned = cleaned\n    .replace(/^```json\\\
          s*/i, \"\")\n    .replace(/^```\\s*/i, \"\")\n    .replace(/```$/i, \"\"\
          )\n    .trim();\n\n  try {\n    return JSON.parse(cleaned);\n  } catch (e)\
          \ {\n    return null;\n  }\n}\n\nfunction main({ llmText, rawProductName\
          \ }) {\n  const allowedCodes = [\n    \"TOMATO\",\n    \"CUCUMBER\",\n \
          \   \"CARROT\",\n    \"POTATO\",\n    \"ONION\",\n    \"APPLE\",\n    \"\
          RICE\",\n    \"EGGS\",\n    \"VEGETABLE_OIL\",\n    \"BEEF\",\n    \"UNKNOWN\"\
          \n  ];\n\n  const allowedUnits = [\"KG\", \"PCS_10\", \"LITER\", \"BUNDLE\"\
          , \"PCS\", \"UNKNOWN\"];\n\n  const raw = (rawProductName || \"\").toLowerCase();\n\
          \  const parsed = safeParseJson(llmText);\n\n  let result = parsed || {\n\
          \    standardProductCode: \"UNKNOWN\",\n    standardProductName: null,\n\
          \    variant: null,\n    normalizedUnitCode: \"UNKNOWN\",\n    matchConfidence:\
          \ 0.2,\n    needsHumanReview: true,\n    reason: \"Invalid JSON output.\
          \ Human review required.\"\n  };\n\n  if (!allowedCodes.includes(result.standardProductCode))\
          \ {\n    result.standardProductCode = \"UNKNOWN\";\n    result.standardProductName\
          \ = null;\n    result.variant = null;\n    result.matchConfidence = 0.2;\n\
          \    result.needsHumanReview = true;\n    result.reason = \"Unsupported\
          \ product code. Human review required.\";\n  }\n\n  if (!allowedUnits.includes(result.normalizedUnitCode))\
          \ {\n    result.normalizedUnitCode = \"UNKNOWN\";\n  }\n\n  const confidence\
          \ = Number(result.matchConfidence);\n  result.matchConfidence = Number.isFinite(confidence)\n\
          \    ? Math.max(0, Math.min(1, confidence))\n    : 0.2;\n\n  const genericUnknown\
          \ =\n    raw.includes(\"unknown\") &&\n    raw.includes(\"vegetable\") &&\n\
          \    !raw.includes(\"oil\") &&\n    !raw.includes(\"yog\") &&\n    !raw.includes(\"\
          масло\") &&\n    !raw.includes(\"sunflower\") &&\n    !raw.includes(\"cottonseed\"\
          );\n\n  if (genericUnknown) {\n    result.standardProductCode = \"UNKNOWN\"\
          ;\n    result.standardProductName = null;\n    result.variant = null;\n\
          \    result.normalizedUnitCode = result.normalizedUnitCode || \"UNKNOWN\"\
          ;\n    result.matchConfidence = Math.min(result.matchConfidence, 0.3);\n\
          \    result.needsHumanReview = true;\n    result.reason =\n      \"No reliable\
          \ product alias match. Generic vegetable words are not enough for automatic\
          \ matching.\";\n  }\n\n  if (result.standardProductCode === \"UNKNOWN\"\
          \ || result.matchConfidence < 0.65) {\n    result.needsHumanReview = true;\n\
          \  }\n\n  return {\n    standardProductCode: result.standardProductCode,\n\
          \    standardProductName: result.standardProductName || \"\",\n    variant:\
          \ result.variant || \"\",\n    normalizedUnitCode: result.normalizedUnitCode\
          \ || \"UNKNOWN\",\n    matchConfidence: result.matchConfidence,\n    needsHumanReview:\
          \ Boolean(result.needsHumanReview),\n    reason: result.reason || \"Product\
          \ normalization completed.\"\n  };\n}"
        code_language: javascript
        outputs:
          matchConfidence:
            children: null
            type: number
          needsHumanReview:
            children: null
            type: boolean
          normalizedUnitCode:
            children: null
            type: string
          reason:
            children: null
            type: string
          standardProductCode:
            children: null
            type: string
          standardProductName:
            children: null
            type: string
          variant:
            children: null
            type: string
        selected: false
        title: 'Code: Validate Output'
        type: code
        variables:
        - value_selector:
          - '1781518266574'
          - text
          value_type: string
          variable: llmText
        - value_selector:
          - '1781516769811'
          - rawProductName
          value_type: string
          variable: rawProductName
      height: 52
      id: '1781518435656'
      position:
        x: 1096.4825510231867
        y: 133.5
      positionAbsolute:
        x: 1096.4825510231867
        y: 133.5
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1781518435656'
          - standardProductCode
          value_type: string
          variable: standardProductCode
        - value_selector:
          - '1781518435656'
          - standardProductName
          value_type: string
          variable: standardProductName
        - value_selector:
          - '1781518435656'
          - variant
          value_type: string
          variable: variant
        - value_selector:
          - '1781518435656'
          - normalizedUnitCode
          value_type: string
          variable: normalizedUnitCode
        - value_selector:
          - '1781518435656'
          - matchConfidence
          value_type: number
          variable: matchConfidence
        - value_selector:
          - '1781518435656'
          - needsHumanReview
          value_type: boolean
          variable: needsHumanReview
        - value_selector:
          - '1781518435656'
          - reason
          value_type: string
          variable: reason
        selected: false
        title: Output
        type: end
      height: 248
      id: '1781518548611'
      position:
        x: 1354.2857142857142
        y: 133.5
      positionAbsolute:
        x: 1354.2857142857142
        y: 133.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -628.3178008325283
      y: 143.1555547593074
      zoom: 0.8498813407405538
  rag_pipeline_variables: []
